.page {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: #2A2C2F;
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .page {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
  }
}