.cover {
  width: 90%;
  min-height: 740px;
  margin: 100px auto 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
    max-height: 740px;
  }  
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 88px;
    width: 100%;
    min-height: 480px;
    max-height: 640px;
  }  
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
    width: 100%;
    min-height: 200px;
    max-height: 480px;
  }
}