.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 740px;
  margin: 0;
  padding: 0;
  z-index: 0;
}