.footer {
  width: 90%;
  margin: 100px auto 24px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
  }  
}

@media screen and (max-width: 550px) {
  .footer {
    margin-top: 64px;
    flex-direction: column;
  }  
}