.place__header {
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__header {
    font-size: 2.6em;
  }  
}

@media screen and (max-width: 320px) {
  .place__header {
    font-size: 2em;
  }  
}
